{% extends 'base.html.twig' %}

{% block title %}Home - Exo01{% endblock %}

{% block body %}
    <p class="text-3xl flex justify-center items-center" >{{ num1 }} {{ operateur }} {{ num2 }} = {{ resultat }}</p>
{% endblock %}