{% extends 'base.html.twig' %}

{% block title %}Home - Exo01{% endblock %}

{% block body %}
    <h1 class="text-3xl flex justify-center items-center" >Bienvenue sur notre site!!!</h1>
{% endblock %}